@font-face{
  font-family: 'urw_chancery_l_medium_italic';
  src: url('../police/urw_chancery_l_medium_italic/urw_chancery_l_medium_italic.ttf');

}


body {
  height:auto;
  margin:0;
  padding:0;
  background: url(../../public/img/coupe/gringotts.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
   background-size: cover;
  position: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 2fr 5fr 2fr 1fr;
  color:white;
  font-family:"urw_chancery_l_medium_italic";
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
