body{
  /* background: url(../img/qcm/background_Gryffondor.gif) center no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover; */
  /* color: #FFFFFF; */
   /* background-color: #9E9B9B;
  background-position: right; */
  /* font-size : 1.3em;
  font-family : URW Chancery L; */

}

@font-face{
  font-family: 'urw_chancery_l_medium_italic';
  src: url('../police/urw_chancery_l_medium_italic/urw_chancery_l_medium_italic.ttf');
}



#bandeau{
  height :100vh;
  background: url(../img/qcm/bandeau_gryffondor.png) center no-repeat fixed;
  background-size : cover;
}

#armoirie{
  height : 100vh;
  background: url(../img/qcm/gryffondor.gif) right no-repeat fixed;
  background-size : length;
}

#message{
  font-family:"urw_chancery_l_medium_italic";
  text-align : center ;
  /* margin-top : 5em; */
  font-size: 1.5em;
  margin: auto;
}
