/* #minuteur{
  width:100vw;
} */

#mapid {
  height: 80vh;
  /* width:50%; */
}

@font-face{
  font-family: 'urw_chancery_l_medium_italic';
  src: url('../police/urw_chancery_l_medium_italic/urw_chancery_l_medium_italic.ttf');
}

body{
  background: url(../img/background/jeu.png) center no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  font-family:"urw_chancery_l_medium_italic";
  color:white;
}
