@font-face{
  font-family: 'urw_chancery_l_medium_italic';
  src: url('../police/urw_chancery_l_medium_italic/urw_chancery_l_medium_italic.ttf');
}

body{
  background: url(../img/background/Arrière-plan.png) center no-repeat fixed;
  -webkit-background-size: contain;
  background-size: contain;
  font-family:"urw_chancery_l_medium_italic";
  color:white;
  background-color: #9E9B9B;
  background-position: right;

}

#jeu{
  color: #FFFFFF;
}
